.title{
    margin-top: 150px;
    color: #FFFFFF;
}

.nav_btn{
    color: #1C1C1C;
    background-color: #FFFFFF;
    font-weight: 500;

    /* max-width: 250px; */

    border-radius: 15px;
    margin: 0px 10px 0px 10px ;
}

.nav_btn:hover{
    color: #FFFFFF;
    background-color: #1C1C1C;


    border: 1px solid #FFFFFF;
}

.bazar-btn-holder{
    margin-top: 250px;
}

.get-bazar-btn{
    background-color: #350079;
    color: #1C1C1C;
    font-weight: 500;
    height: 75px;
    border-radius: 15px;
}

.get-bazar-btn:hover{
    background-color: #34007959;
    color: #FFFFFF;
}


.prediction_holder{
    position: relative;
    background-color: #350079;
    color: #FFFFFF;

    border-radius: 15px;
}

.close-btn{
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.remove-btn{
    color: #FFFFFF;
    background-color: #EF0404;
}