.bazar-side, .bazar-btn-holder{
    width: 500px;
    height: 80px;
}

.bazar-btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(255, 255, 255); */
    /* perspective: 1000px; */
    perspective-origin: center 50px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.bazar-btn-holder:hover{
    animation: rotate-btn 5s infinite linear;
    
}

.bazar-side{
    position: absolute;
    width: 500px;
    height: 80px;

    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;

    border: 1px solid white;

    background-image: url("../assets/space-background.jpg");
    opacity: .7;
}


.back-bs{
    transform: translateZ(-40px) rotateX(-180deg);
    /* background-color: antiquewhite; */
}



.top-bs{
    transform: translateY(40px) rotateX(-90deg);
    /* background-color: rgb(123, 211, 22); */
}

.bottom-bs{
    transform: translateY(-40px) rotateX(90deg);
    /* background-color: rgb(240, 15, 139); */
}

.front-bs{
    transform: translateZ(40px);
    /* background-color: rgb(237, 0, 245); */
}

@keyframes rotate-btn {

    100% {
      transform:  rotateX(360deg) rotateY(15deg);
    }
  }